<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create Employee</h2>
    {% if employee %}
        <h3>Employee Created Successfully</h3>
        <p>EMP_ID:{{ emp_id }}</p>
        <p>Name:{{ employee.name }}</p>
        <p>Mobile:{{ employee.mobile }}</p>
        <p>Address:{{ employee.address }}</p>
        <p>City:{{ employee.city }}</p>
        <po>State:{{ employee.state }}</po>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    <a href="{% url 'create_employee' %}">Create Another Employee</a>
</body> 
</html>